In [71]:
from holistics import HolisticsAPI
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
obj = HolisticsAPI(api_key='uUyLnuhIQE0P8GbrRPx27+g92OhfZppRmdNcXv28SrI=', url='https://secure.holistics.io')

In [72]:
user_hotel_count= obj.export_data(report_id='68675')

Submitting export request... Success
Getting export results... Success
Downloading results... Export to file successed!

In [73]:
user_hotel_count.head()

   user_id  hotel_id  hotel_visit_times
0  1940690      8770                 22
1   754698     12267                 16
2   769888      4908                 11
3  1895536       417                  5
4   754698     12377                  5

In [74]:
user_hotel_count.tail()

     user_id  hotel_id  hotel_visit_times
139  2062515      8412                  2
140  1935296      5232                  2
141  1987949      8392                  2
142  2112655      8684                  2
143  1662516       417                  2

In [75]:
# user_hotel_count['hotel_visit_times'].mask(user_hotel_count['hotel_visit_times'] > 50,5)

In [76]:
# user_hotel_count['ranking'] = 0

In [77]:
#user_hotel_count = user_hotel_count.loc[(user_hotel_count['hotel_visit_times'] > 50) & (user_hotel_count['hotel_visit_times'] <= 200)].apply(lambda x:user_hotel_count['hotel_visit_times'].replace(x,4))

In [78]:
bins = [1,2,3,4,5,100]
user_hotel_count['ranking'] = pd.cut(user_hotel_count['hotel_visit_times'], bins, labels=[1,2,3,4,5])

In [79]:
user_hotel_count.head()

   user_id  hotel_id  hotel_visit_times ranking
0  1940690      8770                 22       5
1   754698     12267                 16       5
2   769888      4908                 11       5
3  1895536       417                  5       4
4   754698     12377                  5       4

In [80]:
user_hotel_count.shape

(144, 4)

In [81]:
user_hotel_count['ranking'] = user_hotel_count.ranking.astype(int)

In [82]:
user_hotel_count.dtypes

user_id              int64
hotel_id             int64
hotel_visit_times    int64
ranking              int32
dtype: object

In [83]:
hotel_ranks = user_hotel_count.pivot_table(index=['user_id'], columns=['hotel_id'], values=['ranking'])

In [84]:
hotel_ranks

         ranking                                                          \
hotel_id  33     38     40     146    279    358    417    472    781
user_id
498          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
62071        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
76629        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
126739       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
136200       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
170344       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
179998       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
217028       NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN
240769       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
495814       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
637929       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
734498       NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
754698       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
769888       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
798706       1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
804427       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
820561       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
828233       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1020688      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1198436      NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
1286971      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1307396      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1307651      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1314551      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1320068      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1355748      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1367773      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1368360      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1572485      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1638651      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
2059453      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2060637      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2060786      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2062515      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2062542      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2066879      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2075513      NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN
2081400      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2087805      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2094608      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2098305      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2101387      NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN
2102288      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2102660      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2107854      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2107990      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2109845      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2112655      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2116099      NaN    NaN    NaN    NaN    NaN    2.0    NaN    NaN    NaN
2116697      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    1.0
2119833      NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
2120821      NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN
2125164      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2125977      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2129506      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2130475      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2131315      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2131524      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2133635      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2135738      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

                 ...                                                     \
hotel_id 786     ...   337814 337840 337861 342102 342104 354032 355645
user_id          ...
498         NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
62071       NaN  ...      NaN    NaN    NaN    NaN    NaN    1.0    NaN
76629       NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
126739      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
136200      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
170344      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
179998      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
217028      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
240769      NaN  ...      NaN    NaN    NaN    NaN    1.0    NaN    NaN
495814      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
637929      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
734498      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
754698      NaN  ...      NaN    NaN    NaN    1.0    NaN    NaN    NaN
769888      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
798706      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
804427      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
820561      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
828233      NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1020688     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1198436     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1286971     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1307396     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1307651     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1314551     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1320068     NaN  ...      NaN    NaN    1.0    NaN    NaN    NaN    NaN
1355748     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1367773     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1368360     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1572485     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1638651     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
...         ...  ...      ...    ...    ...    ...    ...    ...    ...
2059453     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2060637     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2060786     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2062515     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2062542     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2066879     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2075513     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2081400     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2087805     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2094608     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2098305     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2101387     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2102288     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2102660     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2107854     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2107990     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2109845     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2112655     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2116099     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2116697     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2119833     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2120821     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2125164     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2125977     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2129506     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2130475     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2131315     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2131524     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2133635     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN
2135738     NaN  ...      NaN    NaN    NaN    NaN    NaN    NaN    NaN


hotel_id 361496 368026 369692
user_id
498         NaN    NaN    NaN
62071       NaN    NaN    NaN
76629       1.0    NaN    NaN
126739      NaN    NaN    NaN
136200      NaN    NaN    NaN
170344      NaN    NaN    NaN
179998      NaN    NaN    NaN
217028      NaN    NaN    NaN
240769      NaN    NaN    NaN
495814      NaN    NaN    NaN
637929      NaN    NaN    NaN
734498      NaN    NaN    NaN
754698      NaN    NaN    NaN
769888      NaN    NaN    NaN
798706      NaN    NaN    NaN
804427      NaN    NaN    NaN
820561      NaN    NaN    NaN
828233      NaN    NaN    NaN
1020688     NaN    NaN    NaN
1198436     NaN    NaN    NaN
1286971     NaN    NaN    NaN
1307396     NaN    NaN    NaN
1307651     NaN    NaN    NaN
1314551     NaN    NaN    NaN
1320068     NaN    NaN    NaN
1355748     NaN    NaN    NaN
1367773     NaN    NaN    NaN
1368360     NaN    NaN    NaN
1572485     NaN    NaN    NaN
1638651     NaN    NaN    NaN
...         ...    ...    ...
2059453     NaN    NaN    NaN
2060637     NaN    NaN    NaN
2060786     NaN    NaN    NaN
2062515     NaN    NaN    NaN
2062542     NaN    NaN    NaN
2066879     NaN    NaN    NaN
2075513     NaN    NaN    NaN
2081400     NaN    NaN    NaN
2087805     NaN    NaN    NaN
2094608     NaN    NaN    NaN
2098305     NaN    NaN    NaN
2101387     NaN    NaN    NaN
2102288     NaN    NaN    NaN
2102660     NaN    NaN    NaN
2107854     NaN    NaN    NaN
2107990     NaN    NaN    NaN
2109845     NaN    NaN    NaN
2112655     NaN    NaN    NaN
2116099     NaN    NaN    NaN
2116697     NaN    NaN    NaN
2119833     NaN    NaN    NaN
2120821     NaN    NaN    NaN
2125164     NaN    NaN    NaN
2125977     NaN    NaN    NaN
2129506     NaN    NaN    NaN
2130475     NaN    NaN    NaN
2131315     NaN    NaN    NaN
2131524     NaN    NaN    NaN
2133635     NaN    NaN    NaN
2135738     NaN    NaN    NaN

[136 rows x 103 columns]

In [85]:
hotel_ranks.shape

(136, 103)

In [86]:

hotel_sample = hotel_ranks.iloc[:,2]

In [87]:
hotel_sample

user_id
498        NaN
62071      NaN
76629      NaN
126739     NaN
136200     NaN
170344     NaN
179998     NaN
217028     NaN
240769     NaN
495814     NaN
637929     NaN
734498     NaN
754698     NaN
769888     NaN
798706     NaN
804427     NaN
820561     NaN
828233     NaN
1020688    NaN
1198436    NaN
1286971    NaN
1307396    NaN
1307651    NaN
1314551    NaN
1320068    NaN
1355748    NaN
1367773    NaN
1368360    NaN
1572485    NaN
1638651    NaN
          ...
2059453    NaN
2060637    NaN
2060786    NaN
2062515    NaN
2062542    NaN
2066879    NaN
2075513    NaN
2081400    NaN
2087805    NaN
2094608    NaN
2098305    NaN
2101387    1.0
2102288    NaN
2102660    NaN
2107854    NaN
2107990    NaN
2109845    NaN
2112655    NaN
2116099    NaN
2116697    NaN
2119833    NaN
2120821    NaN
2125164    NaN
2125977    NaN
2129506    NaN
2130475    NaN
2131315    NaN
2131524    NaN
2133635    NaN
2135738    NaN
Name: (ranking, 40), Length: 136, dtype: float64

In [88]:
similar_hotels = hotel_ranks.corrwith(hotel_sample)
#similar_hotels = similar_hotels.dropna()

c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

In [89]:
results = pd.DataFrame(similar_hotels) 
results.head(20)

                   0
        hotel_id
ranking 33       NaN
        38       NaN
        40       NaN
        146      NaN
        279      NaN
        358      NaN
        417      NaN
        472      NaN
        781      NaN
        786      NaN
        858      NaN
        902      NaN
        1182     NaN
        2298     NaN
        2299     NaN
        3558     NaN
        3562     NaN
        3566     NaN
        3568     NaN
        3572     NaN