In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('hotels_recommendation_01.csv')

In [4]:
df.head()

,Hotel_ID,City,Hotel_Name,lat,lon,order_count_trivago,order_count_tripadvisor,order_count_others,Orders,RNS,GBV
0,242495,Boston,The Godfrey Hotel Boston,42.354662,-71.061475,1111,414,42,1566,2666,668336
1,54598,Las Vegas,Westgate Las Vegas Resort & Casino,36.135996,-115.151513,4411,402,153,4954,11602,650169
2,53233,New York,Lotte New York Palace,40.758005,-73.974983,652,1,34,686,1444,508374
3,16772,Gold Coast,Mantra Twin Towns,-28.168778,153.542853,1537,131,130,1795,4047,484703
4,60785,Honolulu,Ala Moana by Luxury Suites International,21.290191,-157.839680,384,470,84,936,2370,426940

In [11]:
similarHotels = df.corrwith(df[0:])