In [346]:
from holistics import HolisticsAPI
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
obj = HolisticsAPI(api_key='uUyLnuhIQE0P8GbrRPx27+g92OhfZppRmdNcXv28SrI=', url='https://secure.holistics.io')

In [347]:
user_hotel_count= obj.export_data(report_id='68675')

Submitting export request... Success
Getting export results... Success
Downloading results... Export to file successed!

In [348]:
user_hotel_count.head()

   user_id  hotel_id  hotel_visit_times
0  1043885      7824                 93
1  1568189      3539                 91
2    61347      5200                 79
3  1632958    218425                 74
4  1683066       295                 71

In [349]:
user_hotel_count.tail()

     user_id  hotel_id  hotel_visit_times
195  1045242      7909                 13
196   165551     11868                 13
197    39679      2665                 13
198   623934      3505                 13
199  1240796       233                 13

In [350]:
# user_hotel_count['hotel_visit_times'].mask(user_hotel_count['hotel_visit_times'] > 50,5)

In [351]:
# user_hotel_count['ranking'] = 0

In [352]:
#user_hotel_count = user_hotel_count.loc[(user_hotel_count['hotel_visit_times'] > 50) & (user_hotel_count['hotel_visit_times'] <= 200)].apply(lambda x:user_hotel_count['hotel_visit_times'].replace(x,4))

In [356]:
bins = [0, 20, 30, 40, 50, 1000]
user_hotel_count['ranking'] = pd.cut(user_hotel_count['hotel_visit_times'], bins, labels=[1,2,3,4,5])

In [358]:
user_hotel_count.head()

   user_id  hotel_id  hotel_visit_times ranking
0  1043885      7824                 93       5
1  1568189      3539                 91       5
2    61347      5200                 79       5
3  1632958    218425                 74       5
4  1683066       295                 71       5

In [359]:
user_hotel_count['ranking'] = user_hotel_count.ranking.astype(int)

SyntaxError: invalid character in identifier (<ipython-input-128-0d61c2585ccd>, line 1)